@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;

  color: #2a2626;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin: 0 0 30px 0;

  font-weight: 100;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  all: unset;

  cursor: pointer;
}

button {
  padding: 0;
  border: none;

  color: inherit;
  font: inherit;

  background: none;
  outline: inherit;
  cursor: pointer;
}

footer a {
  text-decoration: underline;
}

.container {
  position: relative;

  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.header {
  z-index: -3;

  overflow: hidden;

  background-color: var(--light);
}

.bg-main {
  position: relative;
}

.bg-main::before {
  position: absolute;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

.img-main {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  height: 525px;
}

.double-section {
  display: flex;
  justify-content: space-between;
}

.double-section > :last-child {
  margin-left: 30px;
}

.header .description {
  margin-top: 185px;
}

.description > * {
  width: calc(50% - 15px);
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  background-color: var(--primary);
}

.btn:hover {
  background-color: #ea7600;
}

.header .btn {
  margin-top: 40px;
  margin-left: calc(50% + 15px);
}

.primary-color {
  color: var(--primary);
}

.video-section {
  text-align: center;
}

.video-section p {
  margin-bottom: 30px;
}

.video {
  margin-bottom: -200px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav {
  overflow: auto;

  background-color: var(--primary-dark);
}

.nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 100px;
}

.nav a {
  background-color: var(--light);
}

.nav h1 {
  width: 354px;
  margin: 10px 0;

  color: var(--white);
  font-size: 54px;
}

.card {
  width: 302px;

  margin: 10px 0;
  padding: 24px;
}

.card h2 {
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
}

.card h3 {
  margin: 0;
}

.contact-info a {
  color: var(--blue);
}

.nav a:hover {
  height: 280px;

  color: var(--white);

  background-color: var(--primary);
}

.nav a:hover h2 {
  margin: 0;

  color: var(--white);
}

.subscription h3 {
  margin: 55px;
}

.nav a:hover h3 {
  color: var(--white);
}

.info-section {
  z-index: -1;

  overflow: hidden;

  background-color: var(--light);
}

.info-section .under-title {
  color: var(--translucent-dark);
  font-size: 24px;
  font-family: Neucha, cursive;
}

.info-section .sub-title {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.info-section img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.info-section .secondary-title {
  margin: 100px 0 20px 0;
  padding: 5px 10px;

  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  text-transform: uppercase;

  background-color: var(--brown);
}

.inverse {
  color: var(--white);

  background-color: var(--brown);
}

.inverse .double-section {
  flex-direction: row-reverse;
}

.inverse .double-section > :last-child {
  margin-right: 30px;
  margin-left: 0;
}

.inverse .under-title {
  color: var(--translucent-white);
}

.inverse .secondary-title {
  color: var(--brown);

  background-color: var(--white);
}

.subscription {
  color: var(--white);

  background-color: var(--primary-dark);
}

.email-section {
  margin: 40px 55px 40px 0;
}

.email-form .title {
  display: block;
  margin-bottom: 9px;

  font-size: 18px;
}

.email-section .rules {
  margin: 0;

  font-size: 12px;
}

.email-form {
  width: 100%;
}

.email-form input {
  width: calc(100% - 70px);
  height: 50px;
  margin: 0;
  padding: 0 0 0 15px;

  border: 0;
}

.email-form .btn {
  width: 70px;
  height: 50px;
  padding: 0;
}

.submit {
  position: relative;
}

.submit::before {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);

  width: 24px;
  height: 24px;

  background-image: url("../images/send-icon.svg");

  content: '';
}

.d-flex {
  display: flex;
}

.contact-info {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}
